<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::content">
                    <resource id="ThiagoSilveira_BannerPWA::banner_pwa_main" title="Banners for PWA" translate="title" sortOrder="40">
                        <resource id="ThiagoSilveira_BannerPWA::banner" title="Banners" translate="title" sortOrder="10">
                            <resource id="ThiagoSilveira_BannerPWA::save" title="Save Banner" translate="title" sortOrder="10" />
                            <resource id="ThiagoSilveira_BannerPWA::delete" title="Delete Banner" translate="title" sortOrder="20" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
