<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="thiagosilveira_bannerpwa_api_data_bannerinterface_save_before">
        <observer name="thiagosilveira_bannerpwa_api_data_bannerinterface_before_save" instance="Magento\Framework\EntityManager\Observer\BeforeEntitySave" />
    </event>
    <event name="thiagosilveira_bannerpwa_api_data_bannerinterface_save_after">
        <observer name="thiagosilveira_bannerpwa_api_data_bannerinterface_after_save" instance="Magento\Framework\EntityManager\Observer\AfterEntitySave" />
    </event>
    <event name="thiagosilveira_bannerpwa_api_data_bannerinterface_delete_before">
        <observer name="thiagosilveira_bannerpwa_api_data_bannerinterface_before_delete" instance="Magento\Framework\EntityManager\Observer\BeforeEntityDelete" />
    </event>
    <event name="thiagosilveira_bannerpwa_api_data_bannerinterface_delete_after">
        <observer name="thiagosilveira_bannerpwa_api_data_bannerinterface_after_delete" instance="Magento\Framework\EntityManager\Observer\AfterEntityDelete" />
    </event>
    <event name="thiagosilveira_bannerpwa_api_data_bannerinterface_load_after">
        <observer name="thiagosilveira_bannerpwa_api_data_bannerinterface_after_load" instance="Magento\Framework\EntityManager\Observer\AfterEntityLoad" />
    </event>
</config>
